<script type="text/javascript">
  mixpanel.track("View homepage");
</script>

<section class="hero">
  <section class="container">

    <section class="images">
      <div class="image">
        <%= image_tag "iphone.png", class: "iphone" %>
      </div>
      <div class="image">
        <%= image_tag "scouty.png", class: "app-icon" %>
      </div>
    </section>
    <section class="explanation">
      <h1>Scouty <span>for iPhone</span></h1>
      <h2>Put HelpScout in your pocket.</h2>
      <p><a href="http://www.helpscout.net">HelpScout</a> is simple customer support. We loved their personal approach to customer service and wanted to take it with us. This app brings all of HelpScout to the iPhone, so you can deliver great customer support on the go.</p>
    </section>
  </section>
</section>
<section class="body">
  <section class="container">
    <section class="info">
      <h3>See what's going on</h3>
      <p>Instantly see what support requests need your action, or which are waiting for a reply from your customer. Just like you were using Mail.</p>
    </section>
    <section class="info">
      <h3>Find conversations</h3>
      <p>Use filters and search to retrieve a specific conversation when you're on the go. Follow it's status changes, who's assigned and what your customer had to say.</p>
    </section>
    <section class="info">
      <h3>Upcoming features</h3>
      <p>
        These are some of our upcoming features:
      </p>
      <p>
        <i>Add notes</i><br />
        <i>Reply to conversations</i></br>
        <i>Offline access and synchronization</i>
        <i>Assign a conversation to a team member.</i><br />
        <i>Mark a conversation as active, pending or closed.</i><br />
      </p>
    </section>
  </section>
</section>
<section class="support">
  <h1>Have a question about Scouty?<span> <a href="/support">Send us a message!</a></span></h1>
</section>
<section class="contact">
  <p>Scouty is an application by <a href="http://firmhouse.com">firmhouse</a>. We are not affiliated with HelpScout.</p>
</section>