<section class="hero">
  <section class="container">

    <section class="images">
      <div class="image">
        <img src="assets/iphone.png" style="margin-top: 30px; width: 300px">
      </div>
      <div class="image">
        <img src="assets/scouty.png" style="margin-top: -330px; margin-left: 100px; margin-bottom: 20px; width: 140px">
      </div>
    </section>
    <section class="explanation">
      <h1>Scouty <span>for iPhone</span></h1>
      <h2>Put helpscout in your pocket, help clients anywhere you go.</h2>
      <p>Helpscout is an awesome and simple support tool. We wanted to help our clients on the go, so we created an application for that. We use it daily and some cool features are coming.</p>
    </section>
  </section>
</section>
<section class="body">
  <section class="container">
    <section class="info">
      <h3>Ticket status</h3>
      <p>Check the status of all your tickets across all the mailboxes of you Helpscout account. New tickets will be shown on top so you can focus your attention.</p>
    </section>
    <section class="info">
      <h3>Read new tickets</h3>
      <p>Quickly jump in on new tickets and see what problem your customer encountered. It's easy and fast.</p>
    </section>
    <section class="info">
      <h3>Upcoming features</h3>
      <p>
        <i>Respond to tickets.</i></br>
        <i>Create new tickets manually.</i>
      </p>
    </section>
  </section>
</section>
<section class="support">
  <h1>Have a question about Scouty?<span> contact <a href="/support">support</a></span></h1>
</section>
<section class="contact">
  <p>Scouty is an application by <a href="http://firmhouse.com">firmhouse</a>.</p>
</section>