<script type="text/javascript">
  mixpanel.track("View support page");
</script>

<section class="support_page">
  <header>
    <%= image_tag "scouty.png", alt: "Scouty for iPhone" %>
  </header>

  <h1>Do you have requests, issues or questions about our app?</h1>

  <p>Please email <%= mail_to "help@scoutyapp.com" %>.</p>

  <footer>
    <p>Scouty is an iPhone app by <%= link_to "Firmhouse", "http://www.firmhouse.com" %> and not affiliated to <%= link_to "HelpScout", "http://www.helpscout.net" %>.
  </footer>

</section>